#NavBrand {
    color: #A9A9A9;   
    font-size: 60px
}
#NavBar {
    background-color: #cfffe5; 
}
#Home {
    margin-top: 15px; 
    margin-left: 10%; 
    color: #A9A9A9;  
    font-size: 20px
}
#Client {
    margin-top: 15px; 
    margin-left: 15%; 
    color: #A9A9A9;  
    font-size: 20px
}
#Admin {
    margin-top: 15px; 
    margin-left: 15%; 
    color: #A9A9A9;  
    font-size: 20px
}
#Profile {
    margin-top: 15px; 
    margin-left: 15%; 
    color: #A9A9A9;  
    font-size: 20px
}
#Logout {
    color: #A9A9A9;
    margin-top: 17px; 
    font-family: sans-serif; 
    margin-left: 15%; 
    font-size: 20px
}
#Mint {
    height: 70px; 
    width: 60px
}